<div th:fragment="bar" xmlns:th="http://www.thymeleaf.org">
    <div data-options="region:'north'" style="height:60px;overflow:hidden;">
        <div style="float: left;margin-top: auto; width: auto">
            <h1>切糕的后台管理系统</h1>
        </div>
        <div style="float: right;margin-right:10px">
            <h2>
                <a href="#" style="text-decoration: none">admin(系统管理员)</a>
                <a href="#" style="text-decoration: none">修改密码</a>
                <a href="#" style="text-decoration: none">退出登陆</a>
            </h2>
        </div>
    </div>
</div>