<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>赣江酒铺</title>
    <link rel="stylesheet" type="text/css" th:href="@{jquery-easyui-1.5.4/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{jquery-easyui-1.5.4/themes/icon.css}">
    <script type="text/javascript" th:src="@{jquery-easyui-1.5.4/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{jquery-easyui-1.5.4/jquery.easyui.min.js}"></script>
</head>
<body class="easyui-layout">
<div data-options="region:'north'" style="height:60px;overflow:hidden;">
    <div style="float: left;margin-top: auto; width: auto">
        <h1>切糕的后台管理系统</h1>
    </div>
    <div style="float: right;margin-right:10px">
        <h2>
            <a href="#" style="text-decoration: none">admin(系统管理员)</a>
            <a href="#" style="text-decoration: none">修改密码</a>
            <a href="#" style="text-decoration: none">退出登陆</a>
        </h2>
    </div>
</div>
<div data-options="region:'west',title:'功能列表',split:true"style="width:200px;overflow:hidden;">
    <div id="nav_menu" class="easyui-accordion" data-options="fit:true,border:false"></div>
</div>
<div data-options="region:'center',title:'主菜单'">
    <div id="content_tab" class="easyui-tabs" data-options="fit:true,border:false">
        <div title="首页" data-options="href:'common/center.html'"></div>
    </div>
</div>
</body>
</html>