<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>赣江酒铺</title>
    <link rel="stylesheet" type="text/css" th:href="@{jquery-easyui-1.5.4/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{jquery-easyui-1.5.4/themes/icon.css}">
    <script type="text/javascript" th:src="@{jquery-easyui-1.5.4/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{jquery-easyui-1.5.4/jquery.easyui.min.js}"></script>
</head>
<body class="easyui-layout">
<!-- 通过 tag名称 引用 -->
<header th:replace="common/top_header :: header"></header>

<div th:insert="common/footer :: copy">aaa</div>

<!-- 通过 id 引用 -->
<div th:replace="~{common/footer :: #copy-section}"></div>
</body>
</html>